.sec-space {
    padding: 2rem 0rem;
}

.space {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.button {
    border: 3px solid #035498;
    border-radius: 13px;
    background-color: #03b6f8;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.pg-title {
	font-weight: 600;
	color: #000000;
}


.title-tag-1 {
	font-size: 1rem;
	font-weight: 600;
	color: #035498;
}

.para-tag-1 {
	font-size: 0.85rem;
	color: #000000;
}